<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="true" version="3.0">
	<display-name>ExOf web</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>exofRequestFilter</filter-name>
        <filter-class>team.balam.exof.module.was.ExofRequestFilter</filter-class>
        <init-param>
            <param-name>servicePathExtractor</param-name>
            <param-value>team.balam.exof.module.was.SimpleRequestLogger</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>exofRequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>