<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
	<!-- 외부 설정파일을 사용할 수 있다. <property resource="resource.properties" />-->
	<property name="APP_HOME" value="./logs"/>
	<property name="RUN_MODE" value="DEV"/>
	
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern> %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${APP_HOME}/exof.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>exof.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<if condition='property("RUN_MODE").equals("DEV")'>
		<then>
			<root level="debug">
				<appender-ref ref="console" />
				<appender-ref ref="file" />
			</root>
		</then>
		<else>
			<root level="info">
				<appender-ref ref="console" />
				<appender-ref ref="file" />
			</root>
		</else>
	</if>
</configuration>